@model IEnumerable<Product>
@{
    ViewData["Title"] = "HomePage";
}

@{

}
@* Simiar to homepage except it has add idea button as well as an option to delete and edit and item *@
<head>
    <style>
     

        h1 {
            color: black;
        }

        table, th, td {
            border: 1px solid black;
            border-radius: 10px;
            padding: 10px;
        }

        th {
            font-weight: 800;
        }
    </style>
</head>
<div class="back">
<h1>Editor view</h1>

<h4>Product</h4>
<hr />
<div class="row">


    <div class="row">
        <div class="column" style="float: left;  width: 80%;"><p></p></div>
        <div class="column" style="float: left;  width: 10%;">
            <form method="post" class="searchForm">
                <input type="text" name="searchString" id="myInput" />
                    <input type="submit" value="Search" class="btn btn-primary" />
            </form>
        </div>
    </div>


    <h1> Editor</h1>
    <div>
        <form asp-controller="Product" asp-action="Add" method="get">
                <button type="submit" class="btn btn-primary"> Add new Item</button>
        </form>
    </div>
    <h2 style="padding: 20px"><u>Movies</u></h2>
    <table>
        <tr>
            <th>Name</th>
            
            <th> Author</th>
            <th> Edit</th>
        </tr>
        @foreach (Product product in Model)
        {
            if (product.GenreLink.Name == "Movies")
            {
                //if(product.Name == )
                <tr>
                    <td>@product.Name</td>
                    
                    <td>@product.Author</td>
                   <td><a asp-controller="Product" asp-action="Edit" title="Edit" asp-route-id="@product.ID">Edit</a>
                        <form asp-controller="Product" asp-action="Delete" method="post">
                            <input type="hidden" name="id" value="@product.ID" />
                                <button type="submit" class="btn btn-primary"> Delete</button>
                        </form>
                        </td
                </tr>
            }
        }

    </table>

</div>

<div>
    <h2 style="padding: 20px"><u>Games</u></h2>

    <table>
        <tr>
            <th>Name</th>
            <th> Genre</th>
            <th> Author</th>
            <th>Description</th>
            
        </tr>
        @foreach (Product product in Model)
        {
            if (product.GenreLink.Name == "Games")
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.GenreLink.Name</td>
                    <td>@product.Author</td>
                    <td style="border-radius: 50px;">@product.Description</td>
                    
                </tr>
            }
        }
    </table>
</div>

<div>
    <h2 style="padding: 20px"><u>Books</u></h2>

    <table>
        <tr>
            <th>Name</th>
            <th> Genre</th>
            <th> Author</th>
            <th>Description</th>
            
        </tr>
        @foreach (Product product in Model)
        {
            if (product.GenreLink.Name == "Books")
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.GenreLink.Name</td>
                    <td>@product.Author</td>
                    <td style="border-radius: 50px;">@product.Description</td>
                    
                </tr>
            }
        }
    </table>
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}