@using INFT3050_project.ViewModels
@using INFT3050_project.Models.Product.Subgenre
@model ProductViewModel

<script>
    function SubSelect() {
        SubGenreHideALL();
        var IDinput = parseInt(document.getElementById("Product_genre").value);
        switch (IDinput) {
            case 1: 
            SubGenreShow("1");
                break;
            case 2:
                SubGenreShow("2");
                break;
            case 3:
            SubGenreShow("3");
                break;
        }
    }

    function SubGenreShow(subSelect) {

        var x = document.getElementById(subSelect);
        x.style.display = "block";
    }

    function SubGenreHideALL() {
        document.getElementById("1").style.display = "none"
        document.getElementById("2").style.display = "none"
        document.getElementById("3").style.display = "none"
    }

</script>


@{
}
@* form to edit an item *@
<div class="back">
    <h1>@Model.Product.Name</h1>
    <form asp-controller="Product" asp-action="Edit" method="post">
        <input type="text" value="@Model.Product.Name" id="Name" asp-for="@Model.Product.Name" />
        <input type="text" value="@Model.Product.Author" id="Author" asp-for="@Model.Product.Author" />
        <input type="text" value="@Model.Product.Description" id="Description" asp-for="@Model.Product.Description" />
        <input type="datetime" value="@Model.Product.Published" id="Published" asp-for="@Model.Product.Published" />
 @* 
        using a drop down menu to pick subgenre *@
        <div id="genre" class="form-group">
            <label asp-for="@Model.Product.genre">Genre</label>
            <select onchange="SubSelect()" asp-for="@Model.Product.genre" class="form-control">
                <option value="">select a genre</option>
                @foreach (Genre g in Model.SubGenreViewModel.Genres)
                {
                    <option value="@g.genreID">@g.Name</option>
                }
            </select>
        </div>

        <label asp-for="@Model.Product.subGenre">SubGenre</label>
        <div id="1" class="form-group" style="display:none" >
            <select asp-for="@Model.Product.subGenre" class="form-control">
                <option value="">select a subgenre</option>
                @foreach (ISubGenre g in Model.SubGenreViewModel.GetSubGenreByGenreId(Model.Product.subGenre))
                {
                    <option value="@g.Id">@g.Name</option>
                }
            </select>
        </div>

        <div id="2" class="form-group" style="display:none">
            @*<label asp-for="@Model.Product.subGenre">SubGenre</label>*@
            <select asp-for="@Model.Product.subGenre" class="form-control">
                <option value="">select a subgenre</option>
                @foreach (ISubGenre g in Model.SubGenreViewModel.GetSubGenreByGenreId(2))
                {
                    <option value="@g.Id">@g.Name</option>
                }
            </select>
        </div>

        <div id="3" class="form-group" sstyle="display:none">
            @*<label asp-for="@Model.Product.subGenre">Genre</label>*@
            <select asp-for="@Model.Product.subGenre" class="form-control">
                <option value="">select a subgenre</option>
                @foreach (ISubGenre g in Model.SubGenreViewModel.GetSubGenreByGenreId(3))
                {
                    <option value="@g.Id">@g.Name</option>
                }
            </select>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>



@*<h2>@Model.Name</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
    </div>



    <div class="form-group">
        <label asp-for="GenreLink.genreID">Genre</label>
        <select asp-for="GenreLink.genreID" class="form-control">
            <option value="">select a genre</option> 
            @foreach (Genre g in ViewBag.Genres)
            {
                <option value="@g.genreID">@g.Name</option>
            }
        </select>
    </div>



    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>*@
