@model INFT3050_project.ViewModels.OrderScreenViewModel;
    
@{
}
@* Displays orders *@
<div class="back">
    <h2> Your orders </h2>
    <tbody>
        @foreach(var order in Model.order)
        {
            <tr>
                <td>@order.OrderId</td>
            </tr>
            <tr>
                <td>@order.Suburb</td>
            </tr>
            <tr>
                <td>@order.StreetAddress</td>
            </tr>
            <tr>
                <td>@order.postcode</td>
            </tr>
            <tr>
                <td>@order.state</td>
            </tr>
        }
    </tbody>
</div>
