@using INFT3050_project.ViewModels
@using INFT3050_project.Models.Stocktake
@using INFT3050_project.Models.Product.Subgenre
@model ProductViewModel
@* Blake Eastwood *@


@{
}
<h1>@Model.Product.Name</h1>

@*
 <div>



<table>
    <tr>
        <th>Name</th>
        <th> Genre</th>
        <th> Author</th>
        <th>Description</th>
    </tr>
            <tr>
            @Model.Product.Name</tr>
        <tr></tr>
        <tr>style="border-radius: 50px;">@Model.Product.Description</tr>
</table>

</div>
*@
<div class="back">
    <head>
    
    <title>Product Details</title>
    <style>
   

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .info-item {
            margin-bottom: 15px;
        }

        .label {
            font-weight: bold;
        }
    </style>
    </head>
    @*  showing the details of the product *@
    <div class="back">
        <div class="container">
            <h1>Product Details</h1>
            <div class="info-item">
                <span class="label">Name:</span>  @Model.Product.Name
            </div>
            <div class="info-item">
                <span class="label">Genre:</span> @Model.Product.GenreLink.Name
            </div>
            <div class="info-item">
                <span class="label">Subgenre:</span>  
    
  
            </div>
            <div class="info-item">
                <span class="label">Author:</span> @Model.Product.Author
            </div>
            <div class="info-item">
                <span class="label">Description:</span> @Model.Product.Description
            </div>
            <div class="info-item">
                <span class="label">Published:</span> @Model.Product.Published
            </div>
        </div>
   
        <a asp-controller="Home" asp-action="AddToCart" title="Details" asp-route-id="@Model.Product.ID">Add to cart</a>

    </div>
</div>

